nav {
    background-color: black;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: gray;
    color: yellow;
}